.nav__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 64px;
    height: 48px;
    width: 48px;
}
#icon-menu,
#icon-close{
    display: none;
}

.nav__right {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#line {
    flex-basis: 50%;
    width: 100%;
    height: 1px;
    border: none;
    background: var(--color-line);
    margin-right: -32px;
    position: relative;
    z-index: 3;
}

.nav__link {
    padding: 0 64px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--color-nav-background);
    flex-basis: 50%;
    position: relative;
    z-index: 2;
}

.nav__link ul {
    display: flex;
    gap: 48px;
    align-items: center;
}

.nav__link li {
    list-style: none;
    height: 96px;
    display: flex;
    align-items: center;
    position: relative;

}

.nav__link li a {
    font: var(--desktop-text-preset-8);
    text-decoration: none;
    color: var(--color-nav-text);
    word-spacing: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav__link li a span{
    font: var(--desktop-text-preset-8-bold);
}

.nav__link li a::after {
    content: '';
    width: 0%;
    background: white;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0; /* This is what you're missing */
    margin: auto;
    transition: 0.5s ease;
}

.nav__link li a:hover {
    color: var(--color-text);
}

.nav__link li a:hover::after,
.nav__link li a.active::after {
    width: 100%;
}


@media(min-width:768px) and (max-width:1024px) {
  .nav__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#line {
    display: none;
}

.nav__link {
    flex-basis: 90%;
}

}

@media (max-width:768px) {

.nav__ {
    padding: 0 20px;
}

#logo {
    margin-left: 0;
    height: 40px;
    width: 40px;
}

.nav__right {
    width: 90%;
}

#line {
  display: none;
}

#icon-menu{
    display: block;
    cursor: pointer;
    height: 21px;
    width: 24px;
}

.nav__link {
   display: none;
}

.mobile__nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  padding:32px 0;
  z-index: 10;
  align-items: end;
}

#icon-close{
    padding: 0 32px;
    display: block;
    cursor: pointer;
}

.nav__link ul {
  padding-left: 32px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  display: block;
}

.nav__link li {
  margin-top: 30px;
  width: 200%;
  list-style: none;
  display: flex;
  height: 15px;
}

.nav__link li a {
  font: var(--desktop-text-preset-8);
  text-decoration: none;
  color: var(--color-nav-text);
  word-spacing: 12px;
}

.nav__link li a::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show vertical bar on active link */
.nav__link li a.active::after {
  opacity: 1;
  width: 4px;
}

}